*{
    margin: 10px;
}
body{
    background-color: rgb(87, 87, 197);
}
.contenedor{
    background-color: rgb(55, 17, 90);
    border-radius: 30px;
}
.boton{
    background-color: rgb(255, 225, 186);
}
.card{
    background-color: rgb(106, 179, 243);
    box-shadow: 0 4px 8px 0 white;
    overflow: hidden;
    max-width: 600px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
}
input{
    padding: 10px;
    border: 1px solid ;
    border-radius: 5px;
    font-size: 14px;
}