/*selector uiversal*/
*{
    margin: 0;
    padding: 0;
}
/*slector de etiqueta*/
body{

    background-color: antiquewhite;
    color: white;
}
/*selector de id*/
#contenedor{
    width: 95%;
    height: 100%;
    background-color: rgba(48, 113, 177, 0.808);
    margin: 10px;
    padding: 20px;
}
#emcabezado{
    width: 70%;
    background-color: rgba(199, 203, 207, 0.459);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}
#menu{
    height: 40px;
    background-color: rgba(199, 203, 207, 0.459);
    margin: 1em;
    border-radius: 5px;
}
/*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
img:hover{
    width: 110%;
}
li a:hover{
    color: crimson;
    text-decoration: none;
    font-size: 150%;
    list-style: none;
}
/*selector de clase*/
*img{
    width: 100%;
    border-radius: 30px;
    justify-items: center;
}
.texto{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;
}
#pie{
    height: 60px ;
    background-color: rgb(0, 0, 0) ;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
#pie h4{
    padding: 10px;
    font-size: 30px;
    background-color: rgba(240, 255, 255, 0.233);
}
/*card*/
.card{
    box-shadow: 0 4px 8px black;
    overflow: hidden;
    max-width: 250px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;

}
.card:hover{
    max-width: 200px;
    text-align: center;

}

.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  }
  

.card img{
    background-color: white;
}
.title{
    color: rgb(224, 201, 201);
    font-size: 18px;
}
button{  
        border:0;
        background-image: linear-gradient(
            150deg,
            rgb(0, 0, 0),
            rgb(0, 0, 0),
            #000305
        );
        border-radius: 8px;
        border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255); /* Cambia el color aquí */
    color:#ffffff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    }
    
    button {
        background-color: #111;
        padding: 16px 24px;
        border-radius: 6px;
        transition: .3s;
    }
    button:hover {
        background: none;
    }
    button:active {
        transform: scale(0,9)
    }

 .contenedorflex{
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
  
}

#item{
    background-color: (110,110,110);
    text-align: center;
    width: auto;
    height: auto;
}
#item:hover{

    background-color: (197,197,0.777);
}




